.button--grey {
    font-family: $primaryFont;
    font-size: 1em;
    background: none;
    padding: 1em 2.625em;
    text-transform: uppercase;
    color: #626262;
    border: 1px solid #626262;
    transition: all .1s ease-in-out;
    &:hover {
        border-color: $primaryColor;
        color: $primaryColor;
    }
}

.button--green {
    font-family: $primaryFont;
    font-size: 1em;
    background: $primaryColor;
    padding: 1em 2.625em;
    text-transform: uppercase;
    color: $lightGrey;
    transition: all .1s ease-in-out;
    &:hover {
        background: #fff;
        color: $primaryColor;
        border-color: $primaryColor;
    }
}

.button--white {
    font-family: $primaryFont;
    font-size: 1em;
    background: none;
    padding: 1em 2.625em;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      background: #fff;
      color: $primaryColor;
    }
  }